p{
  font-family: Arial;
}
  
  .video-title{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    width: 500px;
    line-height: 37px;
    margin-bottom: 5px;
  }
  .video-stats{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-top: 0;
  }
  .video-author{
    font-size: 14px;
    color: rgb(96,96,96);
  }
  .video-description{
    font-size: 14px;
    color: rgb(96,96,96);
    width:300px;
    line-height: 22px;
    margin-bottom: 100px;
  }
  .apple-text{
    font-size: 14px;
    background-color: rgb(227,65,64);
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .shop-link{
    cursor: pointer;
  }
  .shop-link:hover{
    text-decoration:underline ; 
  }
  .shop-link:active{
    opacity: 0.15;
  }